<div>
	<strong>Movie Resutlts:</strong>
	<% unless @movies.nil? %>
	<ol>
		<% @movies.each do |movie| %>
		<li>
			<a href='/movie?id=<%=movie["imdbID"]%>'><%=movie["Title"]%></a>
		</li>
		<% end %>
	</ol>
	<% else %>
		<p>No Movies Found...</p>
	<% end %>
</div>

<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>